* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  background: linear-gradient(-45deg, #9046cf, #cc59d2, #f487b6, #fde12d, #53f4ff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
h3 {
  margin-bottom: 0.5rem;
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  display: flex;
  height: 300px;
  min-width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff3f0;
  padding: 2rem;
}

.container h3:hover:nth-child(odd) {
  background-color: #f487b6;
  padding: 0.3rem 1rem 0.3rem 10rem;
  transition: 1s ease-in;
}

.container h3:hover:nth-child(even) {
  background-color: #fde12d;
  padding: 0.3rem 10rem 0.3rem 1rem;
  transition: 1s ease-in;
}
/* styling of the background animaltion https://codepen.io/P1N2O/pen/pyBNzX */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
