* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.side {
  height: 50px;
  width: 50px;
  background-color: #f3d2cb;
  margin: 0 3px;
  line-height: 50px;
}

.side:hover {
  cursor: pointer;
  background-color: #93c0b5;
  color: #fff;
}

#triangle {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 9%;

  /* background-image: url("src/images/TB.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#numbersContainer {
  position: absolute;
  bottom: 20%;
}

#textTarget {
  position: absolute;
  bottom: 5rem;
}

#calc {
  position: absolute;
  bottom: 15rem;
}
