* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letter {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: pink;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin: 0px 0.5rem;
}

.emptySpace {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid pink;
  cursor: pointer;
}
#button {
  position: absolute;
  bottom: 30%;
}
