* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
}

#app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instructions {
  border: 1px solid #000;
  position: absolute;
  top: 15%;
  max-width: 60%;
  padding: 1rem 0.3rem;
  text-align: left;
}

.instructions p:nth-child(1) {
  margin-bottom: 0.7rem;
}

.letter {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: pink;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  margin: 0px 0.5rem;
  font-size: 1.5rem;
}

.emptySpace {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid pink;
  cursor: pointer;
}

#button {
  position: absolute;
  bottom: 10%;
  padding: 0.3rem 2rem;
  position: absolute;
  bottom: 2rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
}
#button:hover {
  background-color: #000;
  color: #fff;
}
